      <hostRequires>
        <or>
          <labcontroller op="=" value="lab-02.rhts.eng.bos.redhat.com" />
          <labcontroller op="=" value="lab-02.rhts.eng.rdu.redhat.com" />
          <labcontroller op="=" value="lab-02.rhts.eng.brq.redhat.com" />
          <labcontroller op="=" value="beaker.ofa.iol.unh.edu" />
        </or>
        <hypervisor op="!=" value="" />
        <arch op="=" value="{{ arch }}" />
      </hostRequires>
