{% set name='ABORT TASK' %}
{% extends 'recipeset.j2' %}
{% block tasks %}
    {% include 'task_check_install.j2' %}
    {% include 'task_abort_task.j2' %}
    {% include 'task_pass.j2' %}
{% endblock %}
