{% set name='KERNEL PANIC' %}
{% extends 'recipeset.j2' %}
{% block tasks %}
    {% include 'task_check_install.j2' %}
    {% include 'task_kernel_panic.j2' %}
    {% include 'task_pass.j2' %}
{% endblock %}
